.regist-form {
    width: 650px;
    background:cornsilk;
    margin: 40px auto;
    padding: 20px 0;
    text-align: center;
    opacity: 0.8;
}
.regist-form p {
    padding: 20px 0;
}
#btn-regist {
    width: 70px;
    border-radius: 5px;
}