<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/login.css">
</head>
<body>
    <div class="container">
        <!-- 每个页面都有导航条，通过这个方式将封装好的导航条引入 -->
        <%- include('header') %>

        <div class="login-form">
            <form action="/login" method="post">
                <h1>用户登录</h1>
                <p>
                    用户名：<input type="text" name="username">
                </p>
                <p>
                    密码：<input type="password" name="password">
                </p>
                <p>
                    <button type="submit" id="btn-login">登录</button>
                </p>
            </form>
        </div>
    </div>
</body>
</html>